*{
    font-family: 'News Cycle', sans-serif;
    color: #555;
}
body{
    background-color: steelblue;
}
.container{
    width: 320px;
    background-color: white;
    margin:120px auto;
}
table{
    width: 100%;
    border-color: floralwhite;
}
td{
    width: 25%;
}
button{
    width: 80px;
    height: 70px;
    font-size: 20px;
    background-color: white;
    border: none;
}
#inputLabel{
    height: 120px;
    font-size: 40px;
    vertical-align: bottom;
    text-align: right;
    padding-right: 16px;
    background-color: #ececec;
}